<div class="container mt-4">
  <h2 class="mb-4">Todo List</h2>
  
  <ul class="list-group">
    <li *ngFor="let item of todoItems; trackBy: trackById" class="list-group-item d-flex align-items-center">
      <input type="checkbox"
             [checked]="item.completed"
             (change)="toggleCompletion(item)"
             class="form-check-input me-2">
      <span [ngClass]="{ 'text-decoration-line-through': item.completed }">{{ item.title }}</span>
    </li>
  </ul>

  <div class="d-flex justify-content-between align-items-center mt-4">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-primary">Previous</button>
    <button (click)="nextPage()" class="btn btn-primary">Next</button>
    <button (click)="navigateToCreateTodo()" class="btn btn-success">Create Todo</button> <!-- Add this button -->

  </div>
</div>
